{{outlet}}

{{input type="text" value=filter}}

<table class="table table-hover">
  <tr>
    <th>Hop</th>
    {{#each aroma in aromas}}
      <th>
        {{aroma}}
      </th>
    {{/each}}
  </tr>
  {{#each hop in filteredContent}}
    <tr>
      <td>
        <a href="#" tabindex="0" class="btn btn-primary" data-toggle="popover" data-trigger="hover" title="{{unbound hop.name}}" data-content="{{unbound hop.aroma}}">
          {{hop.name}}
        </a>
      </td>
      {{#each aroma in aromas}}
        <td>{{hop-aroma hop aroma}}</td>
      {{/each}}
    </tr>
  {{/each}}
</table>

<script type="text/javascript">
  $(document).ready(function(){
    $("[data-toggle='popover']").popover();
  });
</script>
